<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Cards</title>
    <style>
        
        .a{
        width: 30%;
            border: 1px solid black;
            padding: 5px;
            margin: 30px;
        }
    </style>
  </head>
  <body>
      <div>
          {% if notes %}
          {% for notes in notes %}

          <div class="a">
            <div>
                <div>
                    <div>
                        To : {{notes.to}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">From : {{notes.froom}}</li>
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title"> {{notes.title}} </h5>
                        <p class="card-text">{{notes.message}} </p>
                    </div>
                </div>
                <div class="text-center" id="firstextcenter">
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="text-center" id="secondtextcenter">
        <button class="btn btn-primary" onclick="window.location.href='add-note'">
            Add Note
        </button>
    </div>
    </body>
</html>