<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab4 forms</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <form action="" method="POST" accept="utf-8">
                {% csrf_token %}
                <p>TO</p>
                {{form.to}}
                <p>FROM</p>
                {{form.froom}}
                <p>TITLE</p>
                {{form.title}}
                <p>MESSAGE</p>
                {{form.message}}
                <input type = "submit" value="tambah">
              </form>
            </div>
        </div>
  </body>
</html>
