<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab3 forms</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <form action="" method="POST" accept="utf-8">
                {% csrf_token %}
                {{form.as_p}}
                <input type = "submit" value="tambah">
              </form>
            </div>
        </div>
  </body>
</html>
