<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Npm</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
      {% for i in friends %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.npm }}</td>
            <td>{{ i.birth_date }}</td>
        </tr>
      {% endfor %}
    {% endif %}
      <!-- EXAMPLE SECTION -->
    
      <!-- END SECTION -->
    </table>
  </body>
</html>
