<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table{
          width: 60%;
          border-collapse: collapse; 
        }
        th, td{
          border: 1px solid black;
          text-align: center;
        }
      </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <tr>
        {% if note %}
          {% for i in note %}
          <tr>
            <td>{{ i.to }}</td>
            <td>{{ i.froom }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.message }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
