<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table{
        width: 100%;
        border-collapse: collapse; 
      }
      th, td{
        border: 1px solid black;
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <tr>
        {% if friends %}
          {% for friend in friends %}
          <tr>
            <td>{{ friend.name }}</td>
            <td>{{ friend.npm }}</td>
            <td>{{ friend.birth_date }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tr>
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
